// --------------------------------------------------------------------------------
// VIEWS - CAMPAIGN PERFORMANCE BY SEGMENT
// --------------------------------------------------------------------------------
.v-campaign-performance-by-segment {
	.chart-venn svg { 
		display: block;
		margin:0 auto;
	}
	.barchart-con {
		text-align: center;
	}
}