// --------------------------------------------------------------------------------
// MIXINS - HORIZONTAL-LIST
//---------------------------------------------------------------------------------
@mixin horizontal-list() {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    > li{
    	cursor: pointer;
        display:block;
        float: left;
        margin-right: 20px;
        
        &:last-child{
            margin-right: 0px;
        }
    }
}