// --------------------------------------------------------------------------------
// BASE - ELEMENTS
//---------------------------------------------------------------------------------
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased; 
    -webkit-tap-highlight-color: $color-white;
    -webkit-text-size-adjust: none; 

    // Hightligt color
    //::selection {
    //    background: $color-primary;
    //    text-shadow: none;
    //}
}

html,
body {
    background: $color-gray-gallery;
    color: $color-gray-masala;
    font-family: $font-family-primary;
    font-size: $font-size-16px;
    font-weight: $font-weight-light;
    height:100%;
    margin: 0;
    min-width: $l-body-min-width;
    padding: 0;
    width: 100%;
}

a {
    color: $color-primary;
    text-decoration: none;
    &:hover { }
    &:active { }
}

ul { 
    list-style-position: inside; 
    list-style-type: disc;
    margin: 0;
    padding: 0;
}
li {
    i {
        margin-right: $l-spacing-large;
    }
}

h1 {
    font-size: $font-size-24px;
    font-weight: $font-weight-light;
    margin: 0; 
    margin-bottom: 10px; 
    padding: 0; 
}

h2 {
    font-size: $font-size-24px;
    margin: 0; 
    margin-bottom: 20px; 
    padding: 0; 
}

h3 {
    font-size: $font-size-16px;
    font-weight: $font-weight-bold;
    margin: 0; 
    margin-bottom: 10px; 
    padding: 0; 
}

p {
    font-family: $font-family-secondary;
    font-size: $font-size-18px;
    margin: 0; 
    margin-bottom: 20px; 
    padding: 0; 
}

button {
    @include transition($durations: $l-animation-time/2);
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
}

input[type='text'],
input[type='password'] { 
    background: $color-white; 
    border: 1px solid $color-primary; 
    outline: none; 
    padding: 16px 20px; 
}

select {
    background: $color-white;
    border: 0;
    outline: none;
}
