// --------------------------------------------------------------------------------
// MODULES - BUTTONS
// --------------------------------------------------------------------------------
$m-button-line-height: 49px;

.m-button {
    @include border-radius-all(7px);
    @include transition();

    color: $color-white;
    cursor: pointer;
    display:inline-block;
    font-size: $font-size-20px;
    font-weight: $font-weight-semi-bold;
    line-height: $m-button-line-height;
    padding: 0 $l-spacing-medium;
    width: auto;

    &.clear {
        background-color: transparent;
        color: inherit;
    }
}
.m-button:hover {}

.m-button-small {
    font-size: $font-size-15px;
    line-height:30px;
}


.m-button-positive { 
	background: $color-primary; 
}
.m-button-positive:hover {
    background: $color-blue-han-blue;
}


.m-button-negative {}
.m-button-negative:hover {}


.m-button-neutral {}
.m-button-neutral:hover {}